.links{
  display: flex;
  flex-direction: row;
  margin-left: 30%;
  margin-bottom: 2%;
  list-style-type: none;
}
.mylist{
  margin-left: 20%;
}
.caro {
  width: 1000%;
  max-width: 600px;
  margin: 0 auto;
  height: 60%;   
}
  
.resize img {
  width: 90%;
  height: auto;
  margin-top: 100px;
  max-width: 500px;  }
.resize p {
  font-size: 20px;
  color: #eeecec;
  margin: 5px 0;
}
  
.title {
    font-size:30px;
    font-weight: bold;
    color: #f1eded;
  }
  img{
    display: flex;
    display: grid;
    border-radius: 15px;
  }  
  .search-results {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }  .search-result {
    max-width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
  }  .search-result img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
  }  .search-result h3 {
    font-size: 18px;
    margin-top: 10px;
  }  .search-result p {
    font-size: 14px;
    margin-top: 10px;
  }